form.form-register {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%
}

.MuiOutlinedInput-root>fieldset {
  border-color: #182628;
}

.MuiOutlinedInput-root.Mui-focused>fieldset {
  border-color: #182628aa !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #182628 !important;
}